<ul class='list-inline'>
  <li class='list-inline-item'
      [class.selected]='value == control'
      *ngFor="let control of controls"
      (click)='change(control)'>
    {{control}}
  </li>
</ul>
