<div class="card bg-light">
    <div class="card-body">
        <h5>
            This project contains more advanced mechanisms such as:
        </h5>
        <ul>
            <li>ComponentResolver - create component dynamically</li>
            <li>ng-container, ngTemplateOutlet, NgForTemplate ...</li>
            <li>Lifecycle hooks np. OnChanges, AfterContentInit, ngDoCheck ...</li>
            <li>Services: ViewContainerRef, TemplateRef, IterableDiffers ...</li>
            <li>Not ordinary form fields - Angular Form Api</li>
        </ul>
    </div>
</div>
