<div class="card bg-light">
    <div class="card-body">
        <h4>Custom-datagrid examples</h4>
        <h6>
            learn about | ComponentFactoryResolver, ng-container, *ngTemplateOutlet, NgForTemplate
        </h6>
        This examples show how to build reusable datagrid in three ways.
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">Example 1. Pass template (as row) to component data-grid-type3</div>
    <div class="card-body">
        <data-grid-type3 [data]="data" [head]="['title', 'id', 'action']">
            <ng-template let-item>
                <tr>
                    <td>{{item.title}}</td>
                    <td>{{item.id}}</td>
                    <td><button (click)="navigate(item)" class="btn btn-danger">go</button></td>
                </tr>
            </ng-template>
        </data-grid-type3>
    </div>
</div>
<br>
<div class='card'>
    <div class="card-header">Example 2. Pass template (as column) to component data-grid-type2</div>
    <div class="card-body">
        <ng-template #columnTemplate let-data>
            <button class="btn btn-warning mr-2" (click)="remove(data)">remove</button>
            <button class="btn btn-warning" (click)="navigate(data)">more</button>
        </ng-template>
        <app-datagrid-type2 [data]="data" [config]="[{key: 'title'}, {key: 'id'}]" [actions]='columnTemplate'>
        </app-datagrid-type2>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">Example 3. Pass any component (as a row) to component data-grid-type1</div>
    <div class="row card-body">
        <div class="col-6">
            <div class="badge badge-info">Row type 1</div>
            <div class="card card-body">
                <app-data-grid-type1 [data]="data" [rowType]="type1"></app-data-grid-type1>
            </div>
        </div>
        <div class="col-6">
            <div class="badge badge-info">Row type 2</div>
            <div class="card card-body">
                <app-data-grid-type1 [data]="data" [rowType]="type2"></app-data-grid-type1>
            </div>
        </div>
    </div>
</div>
