<div class="card bg-light">
  <div class="card-body">
    <h4>Custom-form-field example</h4>
    <h6>learn about | interface: ControlValueAccessor</h6>
  </div>
</div>

<br>
<div class="card card-body bg-light">
  <div>
    <pre><b>form value: {{form.value | json}}</b></pre>
  </div>
  <div>
    <form [formGroup]='form'>
      <label>
        username (normal form control)
        <input type="text" class="form-control" formControlName='username'>
      </label>
      <hr>
      <label>
        myselect (custom form control)
        <app-my-select [controls]='[1,2,3,4]' formControlName='myselect'></app-my-select>
      </label>
    </form>
  </div>
</div>
