<div class="container-fluid">

    <ul class="nav nav-pills mt-3">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="home">home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="data-grid">custom data grid</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="custom-form">custom form field</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="custom-if">custom if</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="custom-for">custom for</a>
        </li>
    </ul>

    <hr>
    <div>
        <router-outlet></router-outlet>
    </div>

    <br>
    <course-footer courses></course-footer>

</div>
