.box {
    background-color: #666;
    padding: 10px;
    color: white;
}

.hide {
    display: none;
}

.active {
    border-color: tomato;
}

ul {
    padding: 0;
    margin: 0;
}

ul > li {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    border: 2px solid #666;
    user-select: none;
}

.content {
    padding: 20px 5px;
}
